{% extends 'base.html' %}

{% block content %}
    <div class="py-5 text-center">
        {#        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">#}
        <h1>{{ ballot.ballot_name }}</h1>

        <p class="lead">Ballot ends at {{ ballot.ballot_end_date }} </p>
        <p><strong>Remaining time:</strong> <span id="demo"></span></p>
    </div>
    <div><h3><b>Ballot Statistics</b></h3></div>
    <div class="row">
        <div id="votingoptioncountchart" class="col-lg-6"></div>
        {#            <div class="col-lg-6" id="participationchart"></div>#}
        <div class="col-lg-6" id="barchart"></div>
    </div>
    <input type="hidden" name="ballot_address" value="{{ ballot.ballot_address }}">
    <div><h3><b>Voters individual votes</b></h3></div>
    <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Voter address</th>
                <th>Voted options</th>
            </tr>
            </thead>
    <tbody>
    {% for key, values in voter_options.items %}
        <tr>
        <td>
            {{ key }}
        </td>
        <td>
            {{ values }}
        </td>
        </tr>
    {% endfor %}
    </tbody>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#cast_vote').prop("disabled", true);
        })

        $("input[name='voted_index']").change(function () {
            if ($("input[name='voted_index']:checked").length > {{ ballot.ballot_max_vote }} || $("input[name='voted_index']:checked").length < 1) {
                $('#cast_vote').prop("disabled", true);
            } else {
                $('#cast_vote').prop("disabled", false);
            }

        })
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawBarChart);

        {#google.charts.setOnLoadCallback(drawParticipationChart);#}


        // Draw the chart and set the chart values
        function drawChart() {
            var i;
            var arr = []
            arr[0] = ['Option', 'Vote count']

            {% for el in ballot.ballot_options_name %}
                arr[{{ forloop.counter }}] = ['{{ el }}',]
            {% endfor %}
            {% for el in ballot.ballot_options_vote_count %}
                arr[{{ forloop.counter }}][1] = {{ el }}
            {% endfor %}
            var data = google.visualization.arrayToDataTable(arr);

            // Optional; add a title and set the width and height of the chart
            var options = {'title': 'Vote Statistics', 'width': 550, 'height': 400, is3D: true};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('votingoptioncountchart'));
            chart.draw(data, options);
        }

        function drawParticipationChart() {

            var data = google.visualization.arrayToDataTable([
                ['Participation', 'Count'],
                ['Users voted', {{ ballot.user_voted }}],
                ['', {{ ballot.invited_users_count }} - {{ ballot.user_voted }}] //Numbers of users not voted yet
            ]);

            var options = {
                title: 'Participation',
                pieHole: 0.4,
                width: 550,
                height: 400,
                legend: 'none',
                pieSliceText: 'none',
                series: {
                    0: {
                        tooltip: 'none',
                        legend: 'none',
                    },
                },
                slices: {
                    0: {color: 'orange'},
                    1: {color: 'transparent'}
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('participationchart'));
            chart.draw(data, options);
        }

        function drawBarChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type of users', 'Amount', {role: 'style'}],
                ['Users voted', {{ ballot.user_voted }}, 'color: blue'],
                ['Users registered', {{ ballot.ballot_registered_voter_count}}, 'color: green'],
                ['Users invited', {{ ballot.invited_users_count }}, 'color:orange'],
            ]);

            var options = {
                title: "Statistics on participants",
                width: 600,
                height: 400,
                bar: {groupWidth: "95%"},
                legend: {position: "none"},
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('barchart'));
            chart.draw(data, options);
        }
    </script>

    <script>

        var countDownDate = new Date("{{ ballot.ballot_end_date.isoformat }}").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();
            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>
{% endblock %}